body{
    background-color: #E5E5E5;
}

.style_web{
    color: #2196F3; 
}
.style_studio{
    color: #000000;   
}
.link{
    color: #212121;
    text-decoration: none;
}
.style_list{
    color:#E5E5E5  ;
}
.title{
    color:#FFFFFF;    
}
.style_btn{
    background: #2196F3;
    color: #FFFFFF;
}